<!DOCTYPE html>
<html>
  <head>
		<title>Tumblr Motif Inspector</title>
		<script src="global/js/jquery-1.9.1.js"></script>
		<script src="global/js/bootstrap.js"></script>
    <script src="global/js/bootstrap-alert.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
		<link href="global/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="global/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
    <link href="global/css/style.css" rel="stylesheet" media="screen" />
  </head>
	<body>
    <div class="container">
      <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li <!-- if {{action}}=="index" -->class="active"<!-- endif -->><a href="tumblr">Home</a></li>
                <li <!-- if {{action}}=="about" -->class="active"<!-- endif -->><a href="about">About</a></li>
                <li <!-- if {{action}}=="contact" -->class="active"<!-- endif -->><a href="contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- if {{action}}=="about" -->
        <h3 style="text-align: center;">Tumblr Motif Inspector</h3>
        <!-- endif -->
        </div><!-- /.navbar -->
      </div>
      <!-- placeholder:contents -->
      <!-- endplaceholder -->
      <hr>
      <div class="footer">
        <p>&copy; Tumblr Motif Inspector 2013</p>
      </div>
    </div>
	
    <script src="global/js/bootstrap-transition.js"></script>
    <script src="global/js/bootstrap-modal.js"></script>
    <script src="global/js/bootstrap-dropdown.js"></script>
    <script src="global/js/bootstrap-scrollspy.js"></script>
    <script src="global/js/bootstrap-tab.js"></script>
    <script src="global/js/bootstrap-tooltip.js"></script>
    <script src="global/js/bootstrap-popover.js"></script>
    <script src="global/js/bootstrap-button.js"></script>
    <script src="global/js/bootstrap-collapse.js"></script>
    <script src="global/js/bootstrap-carousel.js"></script>
    <script src="global/js/bootstrap-typeahead.js"></script>
  </body>
</html>