<!-- block:contents -->
	<div>
		Tumblr Motif Inspector was built as a weekend hack at the <a href="http://berlingeekettes.github.com/hackathon/">Berlin Geekettes Hackathon</a> by <a href="https://twitter.com/lienvdsteen">Lien</a>, <a href="https://twitter.com/sheley">Michele</a> and <a href="https://twitter.com/MaraikeHeraklit">Maraike</a>.
		<br />
		<br />
		We won the second prize with this little application, so we decided to keep on working on this little app. Future features will include:
		<ul>
			<li>Compare mode: select multiple blogs so we can compare them.</li>
			<li>Login option: with this feature you'll be able to connect your tumblr account to our app. So we'll be able to keep track of all your posts and we can create more graphs.</li>
			<li>Export mode: export all your important posts.</li>
		</ul>
	</div>
<!-- endblock -->