<!-- block:contents -->
	<h4>Feel free to contact us with all your questions / remarks</h4>
	<table>
		<tbody>
			<tr>
				<td><a href="https://twitter.com/lienvdsteen">Twitter</a></td>
			</tr>
			<tr>
				<td><a href="mailto:tumblrmotifinspector@gmail.com?Subject=Hello%20again">Email</a></td>
			</tr>
		</tbody>
	</table>
	<div>
		<form class="form-horizontal" action="MAILTO:tumblrmotifinspector@gmail.com" method="post" enctype="text/plain" style="display:none;">
  			<div class="control-group">
  				<div class="control-group">
    			<label class="control-label" for="inputPassword">Name</label>
    			<div class="controls">
      				<input type="text" name="inputName" placeholder="Name">
    			</div>
  			</div>
  			<div class="control-group">
			    <label class="control-label" for="inputEmail">Email</label>
    			<div class="controls">
      				<input type="text" name="inputEmail" placeholder="Email">
    			</div>
  			</div>
  			<div class="control-group">
			    <label class="control-label" for="inputEmail">Feedback</label>
    			<div class="controls">
      				<textarea rows="6" name="talkabout"></textarea>

    			</div>
  			</div>
  			<div class="control-group">
  				<div class="controls">
      				<input type="submit" value="Send">
      			</div>
      		</div>
		</form>
	</div>
<!-- endblock -->