<!-- block:contents --> 
	<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Tumblr Motif Inspector!</h1>
        <p class="lead">Find out all the stats about your Tumblr.</p>
      	<form method="post" action="tumblr">
        	<input type="text" class="span3" name="blogname">
        	<button type="submit" class="btn btn-success">Go!</button>
      	</form>
      </div>

      <script>
     	//@todo lien: when empty textfield > disable button, else enable button
      </script>
<!-- endblock -->