<!-- block:contents --> 
  <!-- if {{isset(message)}} -->
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> {{message}}
    </div>
  <!-- endif -->
  
  <div class="jumbotron">
        <h1>Tumblr Motif Inspector!</h1>
        <p class="lead">Find out all the stats about your Tumblr.</p>
      	<form method="post" action="tumblr">
      		<div>
        		<input type="text" class="span3" name="blogname">
        		<button type="submit" class="btn btn-success">Go!</button>
        	</div>
        	<div class="more" style="display:none;">
        	</div>
      	</form>
      </div>

      <script>
     	//@todo lien:
     		// when empty textfield > disable button, else enable button
     		// more options
      </script>
<!-- endblock -->